<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        
    </appSettings>
    <connectionStrings>
        <add name="SqlServer" connectionString="" ProviderName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
